@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

html {
	font-family: 'M PLUS 1', sans-serif;
}

h2,
#theme {
	text-align: center;
	font-family: 'Rampart One', sans-serif;
	font-weight: 400px;
	font-size: 60px;
	font-style: normal;
}

body {
	background-color: yellow;
	text-align: center;
}

h1 {
	text-align: center;
	font-family: 'Rampart One', sans-serif;
	font-weight: 400px;
	font-size: 60px;
	font-style: normal;
}
/*
#halfLeft {
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

#halfRight {
	position: fixed;
	width: 50%;
	height: 100%;
	top: 0;
	left: 50%;
	background-color: rgba(0, 0, 0, 0.5);
}
*/

#screenHider {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

#resultShower {
	display: none;
	width: 0%;
	left: 100%;
	height: 70%;
	background-color: rgba(0, 0, 0, 0.5);
}
